@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html{
box-sizing: border-box;
}

*, *::before, *::after{
font-family: "Roboto", sans-serif;
font-weight: 300px;
margin: 0;
padding: 0;
}
.wrapper {
width: 1600px;
min-height: 100%;
margin: 0 auto;
}

header {
height: 95px;
}

.menu {
padding: 24px 515px 25px 503px;
display: flex;
justify-content: space-between;
align-items: center;
list-style-type: none;
}

.menu li:first-child a:first-child {
border-bottom: 1px #ffffff solid;
opacity: 1;
}
.menu .menu_item .menu_link {
text-decoration: none;
font-size: 14px;
font-weight: 300;
color: #ffffff;
line-height: 21px;
opacity: 0.8;
}
.menu li:nth-child(3) {
padding-right: 15px;
padding-left: 15px;
}
h1{
padding-top: 46px;
color: #ffffff;
text-align: center;
font-size: 85px;
}
.header_h1{
visibility: hidden;
}
.your_life{
background-image: url('assets/bg-image-wrapper.png');
height: 744px;
margin-top: -95px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}

.your_life .p1{
font-weight: bold;
font-size: 64px;
letter-spacing: 4.5px;
line-height: 75px;
text-transform: uppercase;
color: #ffffff;
padding-left: 5px;
padding-bottom: 23px;
}

.your_life .p2 {
max-width: 517px;
color: #ffffff;
font-weight: 300;
font-size: 18px;
line-height: 25.2px;
margin-bottom: 30px;
padding-left: 110px;
letter-spacing: 0.15px;

}

.btn{
padding: 15px 48px;
background: #00AFDB;
border: none;
font-family: Roboto;
color: #FFFFFF;
font-weight: bold;
text-transform: uppercase;
font-size: 14px;
}

.btn:hover {
cursor: pointer;
background: #009cc2;
}
.your_life_socials{
margin: 183px auto 0;
width: 170px;
display: flex;
justify-content: space-between;
}

.your_life_socials a:hover,
.icon:hover,
.footer-list li:hover{
transform: rotate(360deg) scale(2.2);
}

.rappresent{
max-height: 842px;
padding: 120px 270px 140px 268px;
}
.rappresent_block{
height: 585px;
background-color: white;
align-items: center;
display: flex;
justify-content: space-between;
flex-direction: row;
}

.text__page_2{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 407px;
}
.rappresent_subheader{
font-weight: bold;
font-size: 24px;
letter-spacing: 1.2px;
line-height: 28.2px;
text-transform: uppercase;
color: #373737;
}
.rappresent_descr{
font-weight: normal;
font-size: 14px;
line-height: 20.2px;
color: #4E4E4E;;
text-decoration: none;
align-items: flex-end;
padding-top: 22px;
padding-bottom: 30px;
}

.community{
max-height: 504px;
background: #F5F6F7;
background: #F5F6F7;
padding: 79px 0 140px 269px;
}
.community-wrapper{
display: flex;
justify-content: space-between;
}

/*page-3 right-part
*/
.community_text_block{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 298px;
  margin-top: 70px;
  margin-bottom: 25px;
}

.head__page-3{
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 2.4px;
text-transform: uppercase;
color: #373737;
}

.text__page-3{
font-weight: normal;
font-size: 14px;
line-height: 20px;
align-items: flex-end;
text-align: center;
color: #4E4E4E;
opacity: 0.8;
}

/*page-3 left-part
*/
.community-slider{
overflow: hidden;
height: 241px;
display: flex;
width: 895px;
}
.community-slider div:nth-child(2){
  margin-left: 31px;
  margin-right: 31px;
}


/* иконки навигация 
*/
.community_switch {
display: flex;
justify-content: center;
align-items: center;
padding: 0 0 17px 275px;
}
.community_switch i {
border: solid black;
border-width: 0 2px 2px 0;
display: inline-block;
padding: 4px;
transition: 0.1s all;
}
.community_switch .arrow_left {
transform: rotate(135deg);
}
.community_switch .number {
display: flex;
padding: 0 9px 0 9px;
font-weight: normal;
font-size: 18px;
letter-spacing: 4.3px;
color: black;
}
.community_switch .arrow_right {
transform: rotate(-45deg);
}
.community_switch .arrow_left:hover{
transform: rotate(135deg) scale(2.2);
}  
.community_switch .arrow_right:hover{
  transform:  rotate(-45deg) scale(2.2);
}  

.implement{
padding: 119px 378px 140px 269px;
max-height: 842px;
}

.implement-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}
.implement_text_block{
width: 407px;
}

.implement_text_block .implement_header{
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 1px;
text-transform: uppercase;
margin-top: 1px;
color: #373737;
}
.implement_text_block .implement_describtion{
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #4E4E4E;
padding-bottom: 30px;
padding-top: 20px;
}
.btn_learn-more-2{
padding: 15px 48px;
background: #00AFDB;
border: none;
font-family: Roboto;
color: #FFFFFF;
font-weight: bold;
text-transform: uppercase;
font-size: 14px;
}
.btn_learn-more-2:hover {
cursor: pointer;
background: #009cc2;
}

.subscribe{
height: 523px;
background-image: url('assets/pic-5.png');
}
.subscribe-text{
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 197px;
text-align: center;
}

.subscribe_email{
width: 406px;
padding-top:30px;
margin: 0 auto;
display: flex;
}
.subscribe_email input#field{
width: 340px;
height: 44px;
border: none;
font-weight: normal;
font-size: 14px;
color: #373737;
outline: none;
}
.icon-checkmark:before {
content: "\ea10";
color: #ffffff;
font-size: 16px;
transition: 0.4s all;
}
.subscribe_email input[type="email"] {
padding: 2px 0 0 24px;
}
.subscribe_email .subscribe_btn {
width: 71px;
height: 46px;
border: none;
background-color: #00afdb;
outline: none;
}

.subscribe_email .subscribe_btn:hover{
cursor: pointer;
background: #009cc2;
}

.download{
height: 462px;
background: #F5F6F7;
}

.download-wrapper{
padding: 120px 560px 180px 560px;
display: flex;
align-items: center;
flex-direction: column;
}
.download-subheader{
font-size: 24px;
font-weight: 700;
color: #373737;
letter-spacing: 1px;
text-transform: uppercase;
}

.download-text{
font-size: 14px;
font-weight: 400;
color: #4e4e4e;
padding-bottom: 30px;
padding-top: 20px;
line-height: 20px;
text-align: center;
}
.download-buttons{
display: flex;
justify-content: space-between;
height: 45px;
width: 405px;
}
.download-buttons > .btn {
display: flex;
justify-content: space-between;
padding: 0;
}


.btn__text {
width: 128px;
height: 45px;
line-height: 45px;
}
.btn__store {
display: flex;
align-items: center;
justify-content: center;
width: 60px;
height: 45px;
background: #009CC2;
}


.footer{
max-height: 184px;
padding: 61px 160px 80px 160px;
background: black;
}
.footer-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
color: white;
}
.footer-list{
list-style-type: none;
display: flex;
justify-content: space-between;
padding-top: 5px;
width: 235px;
font-size: 14px;
font-weight: 300;
line-height: 20px;
opacity: 0.98;
}


.footer-list .devider{
font-size: 10px;
color: #4e4e4e;
}
footer img {
padding-right: 65px;
}

.footer__copy{
font-weight: 400;
font-size: 14px;
color: #818181;
width: 170px;
padding-top: 2px;
}
